body {
  background-color: #ffe4e1;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #FFD09B;
  padding: 10px 0;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  color: #A66E38;
  font-size: 24px;
  font-weight: bold;
  animation: marquee 10s linear infinite;
}

/* Animasi bergerak */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
